.venv/
ovito-env/
__pycache__/
*.pyc
node_modules/

dump.lammpstrj
restart.equil
log.lammps

simulations/*/dump.lammpstrj
simulations/*/restart.equil
simulations/*/log.lammps

HPC/project/simulations/
HPC/project/lammps_examples/dump.lammpstrj
HPC/project/lammps_examples/restart.equil
HPC/project/lammps_examples/log.lammps

reports/
results/
simulations/
